<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">
  	<h1>{{ title }}</h1>
  	{% for item in result %}
  		{%for key in item %}
  		<p>{{ key }}</p>
  		<ul>
			{%for value in item[key] %}
	  		<li>{{ value[0] |urlize(target='_blank') }} - {{ value[1] }}</li>
			{% endfor %}
  		</ul>	  		
		{% endfor %}
	{% endfor %}
</div>

</body>
</html>