<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">
    <h1>{{ title }}</h1>
    {% for content in result %}
	    {% for index in content %}
	      <ul>
	        <li>{{ index[0] |urlize(target='_blank') }} - {{ index[1] }} - {{ index[2] }}</li>
	      </ul>        
    	{% endfor %}     
    {% endfor %}
</div>

</body>
</html>